.container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.main-container {
    overflow: auto;
    width: 100%;
    height: calc(100vh - 96px);
    display: flex;
    flex-direction: column;
    align-items: center;
}


